In [9]:
7**4

2401

###** Split this string:**

s = "Hi there Yogesh!"

In [11]:
"Hi there Yogesh!".split()

['Hi', 'there', 'Yogesh!']

####   ** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [11]:
planet = "Earth"
diameter = 12742
'The diameter of {} is {} kilometers.'.format(planet, diameter)

'The diameter of Earth is 12742 kilometers.'

'''
** Given this nested list, use indexing to grab the word "hello" **

'''

In [8]:
Data = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
type(Data)

list

In [12]:
Data[3][1][2][0]

'hello'

###  ** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [13]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',
                            {'target':[1,2,3,'hello']}]}]}

In [14]:
type(d)

dict

In [16]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [17]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [19]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [20]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [21]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [22]:
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [23]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

### ** What is the main difference between a tuple and a list? *

In [24]:
Tuple is immutable means can not overwrite where as list is mutable.

SyntaxError: invalid syntax (4210042782.py, line 1)

#### ** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [31]:
def Find_Domain(e):
    return e.split('@')[1]

In [33]:
Find_Domain('abc@gmail.com')

'gmail.com'

#### ** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

â€‹

In [36]:
def find_dog(s):
    return 'dog' in s.lower().split()

In [38]:
find_dog('This is Dog')

True

### ** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [49]:
def count_dog(s):
    c=0
    for v in s.lower().split():
        if v=='dog':
            c=c+1
    print(c)

In [ ]:
countDog('This dog runs faster than the other dog dude!')

In [50]:
count_dog('Dog, dog, Dog')

1

### ** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [51]:
seq = ['soup','dog','salad','cat','great']

In [52]:
type(seq)

list

In [56]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. **

In [61]:
def catch_biker(speed,birthday):
    if birthday==True:
        new_speed=speed-5
    else:
            new_speed=speed
    if new_speed>80:
            return"BT"
    elif new_speed>60:
            return "ST"
    else:
            return "NT"

In [67]:
catch_biker(84,False)

'BT'

### WAP to check whether a number is palindrome or not on following 
conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [69]:
'456'[::-1]

'654'

In [87]:
n1=input("Enter the number:")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("Number is :",n3)
    print("Reverse is ", n3[::-1])
print("Palindromer is ",n3)

Enter the number:987
Number is : 8547
Reverse is  7458
Number is : 16005
Reverse is  50061
Number is : 66066
Reverse is  66066
Palindromer is  66066

## Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [9]:
s="1234ghgjbko"
num = ""
for i in s:
    if i.isnumeric():
        num=num+i
print(num)

1234

### Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [ ]:
def find_five_digit():